
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main navigation -->
<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <a class="navbar-brand text-center d-block d-sm-block d-md-none" href="#">
            <strong style="font-family: 'Pacifico', cursive;">The Magic Brownie</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item text-center">
                    <a class="nav-link" href="#">Pedidos</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="#">Productos</a>
                </li>

                <li class="nav-item text-center d-none d-md-block">
                    <a class="nav-link navbar-brand text-center pt-0" href="#">
                        <strong style="font-family: 'Pacifico', cursive; font-size:1.5rem;" class="">The Magic Brownie</strong>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item text-center">
                    <a class="nav-link" href="#">Conozcanos</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="#">Cómo funciona?</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons justify-content-center">
                <li class="nav-item">
                    <a class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1"> 1 </span>
                        <i class="fa fa-shopping-basket"></i>@*fa-shopping-cart*@
                        <span class="clearfix"> Canasta </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!--Navbar-->
<!-- Full Page Intro -->
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    @*<ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>*@
    <div class="carousel-inner " role="listbox">

        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/images/cake.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask header-view rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                            <h1 class="h1-responsive font-weight-bold mt-sm-5 cakeshop-title">Pastelería hecha con amor </h1>
                            <hr class="hr-light">
                            <h6 class="mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
                                dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                                iste.
                            </h6>
                            <a class="btn btn-white">Pedidos</a>
                            <a class="btn btn-outline-white">Leer más</a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                            @*<img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">*@
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/baking-00.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask header-view rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                            <h1 class="h1-responsive font-weight-bold mt-sm-5">Pasteles personalizados </h1>
                            <hr class="hr-light">
                            <h6 class="mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
                                dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                                iste.
                            </h6>
                            <a class="btn btn-white">Pedidos</a>
                            <a class="btn btn-outline-white">Leer más</a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                            <img src="~/images/carousel-cupcakes.png" alt="" class="img-fluid mt-5">
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/pexels-photo-959079.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask header-view rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                            <h1 class="h1-responsive font-weight-bold mt-sm-5">Suscríbase a nuestro boletín</h1>
                            <hr class="hr-light">
                            <h6 class="mb-4">
                                No se pierda nuestras promociones y nuevos productos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h6>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                            <!--Form-->
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3 class="white-text">
                                            @*<i class="fa fa-user white-text"></i>*@ Registrate gratis!
                                        </h3>
                                        <hr class="hr-light">
                                    </div>
                                    <!--Body-->
                                    <div class="md-form">
                                        <i class="fa fa-user prefix white-text active"></i>
                                        <input type="text" id="form3" class="white-text form-control">
                                        <label for="form3" class="active white-text">Nombre</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix white-text active"></i>
                                        <input type="email" id="form2" class="white-text form-control">
                                        <label for="form2" class="active white-text">Email</label>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button class="btn btn-indigo">Regístrate</button>
                                        @*<hr class="hr-light mb-3 mt-4">
                                            <div class="inline-ul text-center d-flex justify-content-center">
                                                <a class="p-2 m-2 tw-ic">
                                                    <i class="fa fa-twitter white-text"></i>
                                                </a>
                                                <a class="p-2 m-2 li-ic">
                                                    <i class="fa fa-linkedin white-text"> </i>
                                                </a>
                                                <a class="p-2 m-2 ins-ic">
                                                    <i class="fa fa-instagram white-text"> </i>
                                                </a>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                            <!--/.Form-->
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Full Page Intro -->
<!-- Main navigation -->

<div class="container">

    <!-- Nuestros Productos -->
    <section class="text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Nuestros productos</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p>

        <!-- Grid row -->
        <div class="row text-center">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!--Featured image-->
                <div class="view overlay unset-height rounded z-depth-1">
                    <img src="~/images/cake3.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Excerpt-->
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3">Festividades y Eventos</h4>
                    <p class="grey-text">
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
                    </p>
                    <a class="btn btn-indigo btn-sm"><i class="fa fa-clone left"></i> Ver más</a>
                </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                <!--Featured image-->
                <div class="view overlay unset-height rounded z-depth-1">
                    <img src="~/images/cupcake1.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Excerpt-->
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3">Regalos Gourmet</h4>
                    <p class="grey-text">
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
                    </p>
                    <a class="btn btn-indigo btn-sm"><i class="fa fa-clone left"></i> Ver más</a>
                </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6">
                <!--Featured image-->
                <div class="view overlay unset-height rounded z-depth-1">
                    <img src="~/images/appetizers.jpg" class="img-fluid" alt="Sample project image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Excerpt-->
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3">Crea el tuyo propio</h4>
                    <p class="grey-text">
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
                    </p>
                    <a class="btn btn-indigo btn-sm"><i class="fa fa-clone left"></i> Ver más</a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Nuestros Productos -->
    <!-- Productos Destacados -->
    <section class="text-center my-5">
        <!--Carousel Wrapper-->
        <h2 class="h1-responsive font-weight-bold my-5">Productos Destacados</h2>

        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            @*<div class="controls-top">
                <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>*@
            <!--/.Controls-->
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item unset-height active">

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$10</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$20</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$30</small>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.First slide-->
                <!--Second slide-->
                <div class="carousel-item unset-height">

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$40</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$50</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$60</small>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Second slide-->
                <!--Third slide-->
                <div class="carousel-item unset-height">

                    <div class="col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$70</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$80</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Nombre del producto</h4>
                                <p class="card-text">Pequeña descipcion del producto.</p>
                                <small class="text-muted">$90</small>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Third slide-->

            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
    </section>
    <!-- Productos Destacados -->
    <!-- Shop by Category -->
    <section class="my-5">

        @*<h2 class="h1-responsive font-weight-bold my-5">Nuestros productos</h2>*@
        <div class="row">
            <div class="col">
                <h4 class="pull-left mb-0">Pasteles</h4>
            </div>
            <div class="col">
                <a href="#" class="pull-right">Ver todos</a>
            </div>
        </div>

        <hr class="mt-0" />
        <!-- Card deck -->
        <div class="row">

            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- Card deck -->


        <div class="row">
            <div class="col">
                <h4 class="pull-left mb-0">Cupcakes</h4>
            </div>
            <div class="col">
                <a href="#" class="pull-right">Ver todos</a>
            </div>
        </div>
        <hr class="mt-0" />
        <!-- Card deck -->
        <div class="row">

            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- Card deck -->

        <div class="row">
            <div class="col">
                <h4 class="pull-left mb-0">Bocaditos</h4>
            </div>
            <div class="col">
                <a href="#" class="pull-right">Ver todos</a>
            </div>
        </div>
        <hr class="mt-0" />
        <!-- Card deck -->
        <div class="row">

            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="col-md-3">
                <div class="card mb-4">

                    <!--Card image-->
                    <div class="view overlay unset-height">
                        <img class="card-img-top" src="http://via.placeholder.com/708x472" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <h4 class="card-title">Nombre del producto</h4>
                        <p class="card-text">Pequeña descipcion del producto.</p>
                        <strong class="text-muted">$20</strong>

                    </div>

                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- Card deck -->
    </section>
    <!-- Shop by Category -->
</div>

<!-- footer -->
@*<div class="footer">
    <div class="indigo darken-4">
        <div class="row container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="ft-logo"><img src="https://easetemplate.com/free-website-templates/cointrade/images/logo.png" alt=""></div>
            </div>
        </div>
        <hr class="footer-line">
        <div class="row container">
            <!-- footer-about -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">The magic brownie</div>
                    <ul class="list-unstyled">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Legal & Privacy</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-about -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">Enlaces</div>
                    <ul class="list-unstyled">
                        <li><a href="#">Noticias</a></li>
                        <li><a href="#">Contacte nos</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <div class="footer-title">Social</div>
                    <ul class="list-unstyled">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Google +</a></li>
                        <li><a href="#">Linked In</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- footer-links -->
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                <div class="footer-widget ">
                    <h3 class="footer-title">Subscribase</h3>
                    <form>
                        <div class="newsletter-form">
                            <input class="form-control" placeholder="Ingrese su Email" type="text">
                            <button class="btn btn-default btn-sm" type="submit">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.footer-links -->
            <!-- tiny-footer -->
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center white-text" style="background-color:#424f95;">
                <div class="tiny-footer">
                    <p>Copyright © All Rights Reserved 2018 </p>
                </div>
            </div>
            <!-- /. tiny-footer -->
        </div>
    </div>
</div>*@
<!-- /.footer -->